.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: slideInRight 0.5s forwards, fadeOut 1s 2s forwards;
    display: none;
    z-index: 9999; /* Ensure the popup is on top of other elements */
  }
  
  @keyframes slideInRight {
    from {
      right: -200px;
    }
    to {
      right: 20px;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .show {
    display: block;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  